html, body, div {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}
section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
div {
    width: 150px;
    height: 50px;
    border: 1px solid red;
    flex-grow: 2;
    flex-shrink: 1;
}
c1 {
    flex-grow: 1;
    flex-shrink: 2;
}
